{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container custom-container">
      <div class="text-center">
          <h1 class="form-title"> Asignar Contacto de Emergencia</h1>
      </div>
      <div class="row justify-content-center">
          <div class="col-md-6">
                <form action="" method="POST">
                    {% csrf_token %}
                    <!-- Entrega el formulario -->
                    {{ form.as_p }}
                    <button class="btn btn-success btn-block" type="submit" value="submit">Asignar Contacto</button>
                </form>
          </div>
      </div>
  </div>
{% endblock %}

