{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>Lista de cargas</h1>
  <a href="{% url 'agregar_carga' %}" class="btn btn-primary btn-lg mt-3 mb-3">Agregar Carga</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Rut</th>
        <th scope="col">Nombre</th>
        <th scope="col">Genero</th>
        <th scope="col">Acciones</th> 
      </tr>
    </thead>
    <tbody>
      {% for carga in cargas %}
        <tr>
          <td>{{ carga.rut_carga }}</td>
          <td>{{ carga.nombre }} {{ carga.apellido }}</td>
          <td>{{ carga.genero }}</td>
          <td>
            <a href="{% url 'editar_carga' rut_carga=carga.rut_carga %}">
                <img src="{% static 'img/Editar.png' %}" alt="editar" style= "width: 20px">
            </a>
            <a href="{% url 'remover_carga' rut_carga=carga.rut_carga %}" onclick="return confirm('¿Estás seguro de eliminar?');">
                <img src="{% static 'img/Eliminar.png' %}" alt="eliminar" style="width: 20px">
            </a>
          </td>         
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}