{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>Lista de empleados</h1>
  <a href="{% url 'agregar_empleado' %}" class="btn btn-primary btn-lg mt-3 mb-3">Agregar Empleado</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Rut</th>
        <th scope="col">Nombre</th>
        <th scope="col">Departamento</th>
        <th scope="col">Cargo</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Dirección</th>
        <th scope="col">Email</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for trabajador in trabajadores %}
        <tr>
          <td>{{ trabajador.rut_trabajador }}</td>
          <td>{{ trabajador.nombre }} {{ trabajador.apellido }}</td>
          <td>{{ trabajador.departamento }}</td>
          <td>{{ trabajador.cargo }}</td>
          <td>{{ trabajador.telefono }}</td>
          <td>{{ trabajador.direccion }}</td>
          <td>{{ trabajador.email }}</td>
          <td>
            <a href="{% url 'editar_empleado' rut_trabajador=trabajador.rut_trabajador %}">
                <img src="{% static 'img/Editar.png' %}" alt="editar" style= "width: 20px">
            </a>
            <a href="{% url 'remover_empleado' rut_trabajador=trabajador.rut_trabajador %}" onclick="return confirm('¿Estás seguro de eliminar?');">
                <img src="{% static 'img/Eliminar.png' %}" alt="eliminar" style="width: 20px">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
